* {
	box-sizing: border-box;
	line-height: 1;
}
html {
    scroll-behavior: smooth;
  }
body {
    max-width: 1920px;
    margin: 0 auto;
   
}
main {
	padding: 0 100px;
    background-color: #faf4e3;
}
section {
    padding-top: 30px;
}
h1 {
    font-size: 48px;
    margin-top: 0;
}
h2 {
    font-size: 32px;
}
p, li {
    font-size: 24px;
}
p span, li span, .experience .date {
    font-weight: bold;
}
a {
    font-size: 24px;
    text-decoration:none;
    color: white;
}
code {
    font-size: 20px;
}
header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
header li, h1 {
    color: white;
}
header ul {
    margin: 0;
    padding: 0;
}
header li {
    list-style-type: none;
    margin-bottom: 10px;
}
header li a {
    color: #FFD700;
}
header li a:hover {
    color: red;
    transition: 0.7s;
}
header .avatar img {
    width: 250px;
    height: 333px;
    border-radius: 50px;
}
nav {
    padding: 30px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a {
    margin: 20px 20px 0 20px;
    padding: 10px 25px;
    background-color: #FFD700;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}
nav a:hover {
    transition: 0.7s;
    color: red
}
.arrow_up img {
    position: fixed;
    right: 0;
    top: 20px;
    width: 100px;
    height: 100px;
    opacity: 0.5;
}
.code_examples a {
    color: orange;
}
.code_examples a:hover {
    transition: 0.7s;
    color: red;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD700;
    padding: 0 100px;

}
footer .github {
    display: flex;
    align-items: center;
}
footer .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer #Layer_1, footer #youtube  {
    width: 200px;
}


